@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Faster+One&family=Great+Vibes&family=Ms+Madi&family=Style+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
}

:root{
    --color-oscuro: black;
    --color-claro: white;
    --texto-claro: white;
    --texto-oscuro: black;
}

body{
    background-color: var(--color-oscuro);
    color: var(--color-claro);
}

header{
    width: 100%;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    width: 80px;
}

header .logo img{
    width: 100%;
}

header .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 220px;
}

header .titulo h3{
    font-family: "Great Vibes";
    font-size: 60px;
    color: var(--texto-oscuro);
}

header .btn-ordenar{
    background-color: #e00303e7;
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

header .btn-ordenar:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    transition: 0.3s all;
    transition-delay: 0.10;
}

header .btn-ordenar p{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

swiper-container {
    width: 100%;
    min-width: 320px;
    height: 220px;
}


swiper-slide {
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

swiper-slide img {
    width: 100%;
    max-width: 350px;
    min-width: 150px;
    object-fit: cover;
}

swiper-container::part(button-prev) {
    color: red;
    width: 15px;
}

swiper-container::part(button-next) {
    color: red;
    width: 15px;
}

swiper-container::part(bullet) {
    background-color: red;
    width: 9px;
    height: 9px;
}

swiper-container::part(bullet-active) {
    background-color: red;
    width: 9px;
    height: 9px;
}

swiper-slide .texto{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

swiper-slide .texto h2{
    text-align: center;
}

swiper-slide .texto h2, p{
    color: var(--texto-claro);
    padding: 15px 40px;
}

.texto p{
    font-weight: 200;
    color: var(--texto-claro);
}

.cartilla{
    display: grid;
    background-color: white;
}

.cartilla h2{
    padding: 15px;
    text-align: center;
    color: var(--texto-oscuro);
    font-size: 45px;
    font-family: "Courgette";
    filter: drop-shadow(
        0 0 20px rgb(172, 119, 119)
    );

}

.cartilla .menus{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill,minmax(440px, 1fr));
    gap: 30px 0px;
    padding: 20px 20px;
}

.cartilla .menus h4, .menus p, .precio{
    text-align: center;
    color: var(--texto-claro);
}

.cartilla .contenedor{
    width: 460px;
    max-width: 500px;
    height: 250px;
    padding: 10px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    border-radius: 20px;
    box-shadow: 8px 6px 15px rgba(62, 62, 62, 0.687),
                -10px -8px 20px rgb(114, 114, 114);
    border: 1px solid rgba(252, 247, 247, 0.804);
}

.cartilla .menus .contenedor .texto{
    display: grid;
    place-items: center;
}

.cartilla .menus .contenedor .texto h4{
    font-size: 25px;
    font-family: "Courgette";
}

.cartilla .menus .contenedor .texto p{
    color: #D9D9D9;
    font-weight: 500;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cartilla .menus .contenedor .texto .precio{
    width: 95px;
    height: 30px;
    color: var(--texto-claro);
    background-color: #f00202;
    border: 1px solid white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.cartilla .contenedor .imagen img{
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(
        0 0 8px rgba(255, 255, 255, 0.888)
    );
}

.mapa{
    padding-top: 25px;
    background-color: white;
}

.mapa iframe{
    width: 100%;
}

.border{
    border-bottom: 1px solid #ffffff;
    margin: 40px;
}

footer div{
    display: flex;
    justify-content: space-between;
}

footer div p{
    font-size: 15px;
    color: #d1d1d1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer div .contacto{
    display: grid;
    place-items: center;
}

@media (width < 750px){

    header .titulo h3{
        font-size: 55px;
    }

    header .btn-ordenar{
        width: 150px;
        height: 50px;
    }

    header .btn-ordenar p{
        font-size: 15px;
    }

    .cartilla h2{
        font-size: 40px;
    }
}

@media (width < 625px) {

    header .logo{
        width: 60px;
    }

    header .titulo h3{
        font-size: 40px;
    }

    header .btn-ordenar{
        width: 80px;
        height: 30px;
    }

    header .btn-ordenar p{
        font-size: 10px;
    }

    swiper-slide{
        grid-template-columns: 30% 70%;
        padding: 0 25px;
    }

    swiper-slide .texto h2{
        padding: 0;
        font-size: 16px;
    }
    swiper-slide .texto p{
        font-size: 12px;
    }

    .cartilla .contenedor{
        width: 320px;
        height: 180px;
    }

    .cartilla .menus .contenedor .texto .precio{
        font-size: 13px;
        width: 62px;
        height: 17px;
    }

    .cartilla .menus .contenedor .texto h4{
        font-size: 14px;
    }

    .cartilla .menus .contenedor .texto p{
        font-size: 10px;
    }

    footer div p{
        font-size: 12px;
    }

}

@media (width < 445px){

    header .logo{
        width: 40px;
    }

    header .titulo h3{
        font-size: 35px;
    }

    header .btn-ordenar{
        width: 50px;
    }

    header .btn-ordenar p{
        font-size: 8px;
    }

    .cartilla h2{
        font-size: 30px;
    }

    .cartilla .menus{
        grid-template-columns: repeat(auto-fill,minmax(220px, 1fr));
    }

}

