@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Faster+One&family=Great+Vibes&family=Ms+Madi&family=Style+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
}

:root{
    --color-oscuro: black;
    --color-claro: white;
    --texto-claro: white;
    --texto-oscuro: black;
}

body{
    background-color: var(--color-oscuro);
    color: var(--color-claro);
}

header{
    width: 100%;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    width: 80px;
}

header .logo img{
    width: 100%;
}

header .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 220px;
}

header .titulo h3{
    font-family: "Great Vibes";
    font-size: 60px;
    color: var(--texto-oscuro);
}

header .btn-ordenar{
    background-color: #e00303e7;
    width: 180px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

header .btn-ordenar:hover{
    width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: black;
    transition: 0.3s all;
    transition-delay: 0.10;
}

header .btn-ordenar h4{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

swiper-container {
    width: 100%;
    height: 380px;
}


swiper-slide {
    width: 100%;
}

swiper-slide img {
    width: 100%;
    height: 100%;
}

swiper-container::part(button-prev) {
    color: white;
    background-color: #2b2b2b9c;
    width: 35px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
}

swiper-container::part(button-next) {
    color: white;
    background-color: #2b2b2b9c;
    width: 35px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
}

swiper-container::part(bullet) {
    background-color: red;
    width: 9px;
    height: 9px;
}

swiper-container::part(bullet-active) {
    background-color: red;
    width: 9px;
    height: 9px;
}

swiper-slide .texto{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

swiper-slide .texto h2{
    text-align: center;
}

swiper-slide .texto h2, p{
    color: var(--texto-claro);
    padding: 15px 40px;
}

.texto p{
    font-weight: 200;
    color: var(--texto-claro);
}

.comidas{
    background-color: white;
    padding: 60px;
}

.cartilla{
    width: 100%;
    display: grid;
    background-color: #e5e7eb;
    border-radius: 20px;
    padding-bottom: 40px;
}

.cartilla h2{
    padding: 45px 0 15px 120px;
    text-align: start;
    color: var(--texto-oscuro);
    font-size: 40px;
    font-family: "Courgette";
    filter: drop-shadow(
        0 0 20px rgb(172, 119, 119)
    );
}

.cartilla .menus{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill,minmax(430px, 1fr));
    gap: 40px 0px;
}

.cartilla .menus h4, .menus p, .precio{
    text-align: center;
    color: var(--texto-claro);
}

.cartilla .contenedor{
    width: 440px;
    height: 230px;
    padding: 10px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    box-shadow: 8px 6px 15px rgba(62, 62, 62, 0.687),
                -10px -8px 20px rgb(114, 114, 114);
    border: 1px solid rgba(252, 247, 247, 0.804);
}

.cartilla .menus .contenedor .texto{
    display: grid;
    place-items: center;
}

.cartilla .menus .contenedor .texto h4{
    font-size: 22px;
    font-family: "Courgette";
}

.cartilla .menus .contenedor .texto p{
    color: #D9D9D9;
    font-weight: 500;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cartilla .menus .contenedor .texto .precio{
    width: 95px;
    height: 30px;
    color: var(--texto-claro);
    background-color: #f00202;
    border: 1px solid white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.cartilla .contenedor .imagen img{
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(
        0 0 6px rgba(255, 255, 255, 0.888)
    );
}

.mapa{
    background-color: white;
}

.mapa iframe{
    width: 100%;
}

.border{
    border-bottom: 1px solid #ffffff;
    margin: 40px;
}

footer div{
    display: flex;
    justify-content: space-between;
}

footer div p{
    font-size: 15px;
    color: #d1d1d1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer div .contacto{
    display: grid;
    place-items: center;
}

@media (width < 1020px){

    swiper-container {
        height: 260px;
    }

    swiper-container::part(button-prev) {
        width: 30px;
        height: 25px;
    }

    swiper-container::part(button-next) {
        width: 30px;
        height: 25px;
    }

    .cartilla h2{
        padding: 15px 0 15px 0px;
        font-size: 40px;
        text-align: center;
    }
    
    .cartilla .menus{
        grid-template-columns: repeat(auto-fill,minmax(500px, 1fr));
    }

    .cartilla .menus .contenedor{
        width: 550px;
        height: 220px;
    }

    .cartilla .menus .contenedor .texto h4{
        font-size: 25px;
    }

    .cartilla .menus .contenedor .texto p{
        font-size: 12px;
    }

    .cartilla .menus .contenedor .texto .precio{
        font-size: 18px;
        width: 80px;
        height: 25px;
    }

}

@media (width < 750px){

    header .titulo h3{
        font-size: 55px;
    }

    header .btn-ordenar{
        width: 150px;
        height: 40px;
    }

    header .btn-ordenar:hover{
        width: 170px;
        height: 45px;
    }

    header .btn-ordenar h4{
        font-size: 25px;
    }

    swiper-container {
        height: 180px;
    }

    swiper-container::part(button-prev) {
        width: 25px;
        height: 20px;
    }

    swiper-container::part(button-next) {
        width: 25px;
        height: 20px;
    }

    .cartilla h2{
        font-size: 30px;
        text-align: center;
        padding: 15px 0 15px 0px;
    }
}

@media (width < 685px) {

    header .logo{
        width: 60px;
    }

    header .titulo h3{
        font-size: 40px;
    }

    header .btn-ordenar{
        width: 100px;
        height: 35px;
    }

    header .btn-ordenar:hover{
        width: 120px;
        height: 40px;
    }

    header .btn-ordenar h4{
        font-size: 14px;
    }

    swiper-container {
        height: 160px;
    }

    swiper-container::part(button-prev) {
        width: 25px;
        height: 20px;
    }
    
    swiper-container::part(button-next) {
        width: 25px;
        height: 20px;
    }

    .cartilla .menus{
        grid-template-columns: repeat(auto-fill,minmax(350px, 1fr));
    }

    .cartilla .menus .contenedor{
        width: 350px;
        height: 180px;
    }
    .cartilla .menus .contenedor .texto .precio{
        font-size: 13px;
        width: 62px;
        height: 17px;
    }

    .cartilla .menus .contenedor .texto h4{
        font-size: 16px;
    }

    .cartilla .menus .contenedor .texto p{
        font-size: 10px;
    }

    footer div p{
        font-size: 12px;
    }

}

@media (width < 485px){

    header .logo{
        width: 40px;
    }

    header .titulo h3{
        font-size: 35px;
    }

    header .btn-ordenar{
        width: 75px;
        height: 25px;
    }

    header .btn-ordenar:hover{
        width: 95px;
        height: 30px;
    }

    header .btn-ordenar h4{
        font-size: 10px;
    }

    swiper-container {
        height: 120px;
    }

    swiper-container::part(button-prev) {
        width: 20px;
        height: 15px;
    }
    
    swiper-container::part(button-next) {
        width: 20px;
        height: 15px;
    }

    .comidas{
        padding: 30px;
        min-width: 300px;
    }

    .comidas .cartilla{
        min-width: 300px;
    }

    .cartilla h2{
        font-size: 30px;
    }

    .cartilla .menus{
        grid-template-columns: repeat(auto-fill,minmax(270px, 1fr));
    }

    .cartilla .menus .contenedor{
        width: 290px;
        height: 170px;
    }

    .cartilla .menus .contenedor .texto h4{
        font-size: 13px;
    }

    .cartilla .menus .contenedor .texto p{
        font-size: 9px;
    }

}

